:root {
	--line-height: 1.28rem;
}

@media print{

	@page {
		size: 105mm 148mm;
		margin-top: 15mm;
		margin-bottom: 25mm;

		@bottom-center {
			content: "– " counter(page) " –";
		}
		@footnote {
			float:bottom;
		}
	}
	
	@page:left {
		margin-right: 15mm;
		margin-left: 20mm;

		@left-top {
			content: element(heading);
			writing-mode: vertical-lr;
			margin-top: 0.3rem;
			margin-left: 1rem;
		}
	}

	@page:right {
		margin-right: 20mm;
		margin-left: 15mm;

		@right-top {
			content: element(heading);
			writing-mode: vertical-rl;
			margin-top: 0.3rem;
			margin-right: 1rem;
		}
	}

	.chapter {
		page: masterOne;
	}

	@page masterOne:first {
		@left-top {
			content: none;
		}
		@right-top {
			content: none;
		}
	}

	body {
		counter-reset: chapter 1 sidenote 1 footnote 1 figure 1;
	}

	/* Chapter */
	.chapter {
		break-before: right;
		margin-bottom: 6rem;
	}

	.chapter::after {
		display: block;
		margin: auto;
		content: url(../img/roland_dreger_logo.svg);
		width: 3.2rem;
	}

	.backmatter::after {
		content: none;
	}
	/* .chapterTitle:first-of-type {
		break-before: auto;
	} */
	
	.pagedjs_page .pagedjs_pagebox .pagedjs_area .pagedjs_page_content section.chapter > * {
		margin-top: 0;
	}

	/* Headings */
	h3.chapterTitle {
		margin-bottom: 7.68rem;
		counter-increment: chapter;
	}
	h3.chapterTitle::before {
		content: counter(chapter, upper-roman);
		float: left;
		margin-top: 0.12em;
		margin-right: 0.3em;
		font-size: 3.2em;
		line-height: 0.75em;
	}

	.pagedjs_page .pagedjs_pagebox .pagedjs_area .pagedjs_page_content section.chapter > h1,
	.pagedjs_page .pagedjs_pagebox .pagedjs_area .pagedjs_page_content section.chapter > h2,
	.pagedjs_page .pagedjs_pagebox .pagedjs_area .pagedjs_page_content section.chapter > h3,
	.pagedjs_page .pagedjs_pagebox .pagedjs_area .pagedjs_page_content section.chapter > h4,
	.pagedjs_page .pagedjs_pagebox .pagedjs_area .pagedjs_page_content section.chapter > h5,
	.pagedjs_page .pagedjs_pagebox .pagedjs_area .pagedjs_page_content section.chapter > h6,
	.pagedjs_page .pagedjs_pagebox .pagedjs_area .pagedjs_page_content section.chapter > p,
	.pagedjs_page .pagedjs_pagebox .pagedjs_area .pagedjs_page_content section.chapter > ul, 
	.pagedjs_page .pagedjs_pagebox .pagedjs_area .pagedjs_page_content section.chapter > ol {
		margin-top: var(--line-height);
	}

	.pagedjs_page .pagedjs_pagebox .pagedjs_area .pagedjs_page_content section.chapter *:first-child {
		margin-top: 0;
	}

	p {
		line-height: var(--line-height);
		orphans: 2; /* currently not supported in Mozilla Firefox (Jun 28, 2020) */
		widows: 2; /* currently not supported in Mozilla Firefox (Jun 28, 2020 */
	}

	p.runningTitle { 
		display: block;
		position: running(heading);
		font-size: 0.5rem;
		margin: 0;
		padding: 0;
		letter-spacing: 0.1rem;
		white-space: nowrap;
		color: #777;
		text-transform: uppercase;
	}

	.pagedjs_left_page p.runningTitle {
		transform: rotate(180deg);
	}

	/* Sidenotes */
	.sidenote {
		font-weight: 400;
		color: teal;
		counter-increment: sidenote;
	}
	.sidenote::before {
		padding-left: 0.2rem;
		padding-right: 0.2rem;
		content: "(" counter(sidenote);
	}
	.sidenote::after {
		padding-right: 0.2rem;
		content: ")";
	}

	/* Footnotes */
	.footnote {
		float: footnote;
		vertical-align:super;
		font-size: 0.6rem;
		counter-increment: footnote;
	}

	.footnote::before {
		content: counter(footnote);
		padding-right: 0.3rem;
	}

	/* Links */
	/* a::after {
		content: " (" attr(href) ") ";
	} */

	.crossref::after {
		content: ", page " target-counter(attr(href), page);
	}

	/* Figures */
	figcaption {
		counter-increment: figure;
	}

	figcaption::before {
		content: "Fig.: " counter(figure);
		padding-right: 0.5rem;
		font-weight: 600;
	} 

	/* Table of Contents */
	.toc::after {
		content: target-text(attr(href));
		padding-left: 0;
	} 
}