:root {
	--line-height: 1.28rem;
}

@media print {

	@page {
		size: 105mm 148mm;
		margin-top: 15mm;
		margin-bottom: 28mm;
		/* Pagination Area */
		@bottom-center {
			content: "– " counter(page) " –";
		}
		/* Footnote Area (currently not supported in Paged.js) */
		@footnote {
			float: bottom;
		}
	}
	
	@page:left {
		margin-right: 15mm;
		margin-left: 20mm;
		/* Running Title */
		@left-top {
			content: element(heading);
			writing-mode: vertical-lr;
			text-align: right;
			margin-top: 0.3rem;
			margin-left: 1rem;
		}
	}

	@page:right {
		margin-right: 20mm;
		margin-left: 15mm;
		/* Running Title */
		@right-top {
			content: element(heading);
			writing-mode: vertical-rl;;
			text-align: left;
			margin-top: 0.3rem;
			margin-right: 1rem;
		}
	}

	/* Master Page A */
	.chapter {
		page: masterA;
	}

	@page masterA:first {
		@right-top {
			content: none;
		}
	}

	/* Master Page B */
	.backmatter {
		page: masterB;
	}

	@page masterB:right {
		@top-right-corner {
			content: "";
			border-right: 3mm solid #000000;
		}
	}

	@page masterB:left {
		@top-left-corner {
			content: "";
			border-right: 3mm solid #000000;
		}
	}

	@page masterB:first {
		@right-top {
			content: none;
		}
	}

	/* Blank Page */
	@page:blank {
		background-image: url(../img/24543872445_2fea042681_o.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		@left-top {
			content: none;
		}
		@right-top {
			content: none;
		}
		@bottom-center {
			content: none;
		}
	}
	

	body {
		counter-reset: chapter 1 sidenote 1 sidenodeRefMark 1 footnote 1 figure 1;
	}

	/* Chapter */
	.chapter {
		break-before: right;
		margin-bottom: 6rem;
		bookmark-level: 1;
		bookmark-label: 'Willkommen';
		bookmark-state: open;
	}

	.chapter::after {
		display: block;
		margin: 2rem auto;
		content: url(../img/floral_heart.svg);
		width: 2rem;
	}

	.backmatter::after {
		content: none;
	}
	
	/* Headings and Paragraphs */
	h2.chapterTitle {
		font-size: 1.2rem;
		line-height: calc(var(--line-height) * (5/4));
		margin-bottom: calc(var(--line-height) * 5 + 0.65rem);
		counter-increment: chapter;
	}
	h2.chapterTitle::before {
		content: counter(chapter, upper-roman);
		float: left;
		margin-top: 0.12em;
		margin-right: 0.3em;
		font-size: 3.0em;
		line-height: 0.75em;
	}

	#appendix h3 {
		font-size: 0.9rem;
	}

	.flow > * {
		margin-top: 0;
		margin-bottom: 0;
	}

	.flow > * ~ * {
		margin-top: var(--line-height);
	}

	.flow.backmatter > h3 ~ ul,
	.flow.backmatter > h3 ~ ol,
	.flow.backmatter #index {
		margin-top: calc(var(--line-height) / 2);
	}

	p {
		text-align: justify;
		line-height: var(--line-height);
		font-variant-ligatures: normal;
		text-justify: inter-word;
		orphans: 2; /* currently not supported in Mozilla Firefox (Jun 28, 2020) */
		widows: 2; /* currently not supported in Mozilla Firefox (Jun 28, 2020 */
	}

	p.runningTitle { 
		display: block;
		position: running(heading);
		font-size: 0.5rem;
		margin: 0;
		padding: 0;
		letter-spacing: 0.1rem;
		white-space: nowrap;
		color: #777;
		text-transform: uppercase;
	}

	.pagedjs_left_page p.runningTitle {
		transform: rotate(180deg);
	}
	
	/* Sidenotes */
	.sidenote {
		float: right;
		transform: translateY(0.3rem);
		margin-left: 0.7rem;
		padding-left: 0.5rem;
		padding-top: 0.3rem;
		padding-bottom: 0.3rem;
		border-left: 3px solid teal;
		width: 3.6rem;
		text-align: left;
		line-height: 1.3;
		font-size: 0.5rem;
		font-weight: 400;
		color: teal;
		counter-increment: sidenote;
	}

	.sidenote::before {
		padding-right: 0.2rem;
		content: counter(sidenote);
	}

	a.sidenode-ref-mark {
		color: teal;
		text-decoration: none;
		position: relative;
		top: -0.4rem;
		font-size: 0.7em;
		line-height: 1;
		/* font-variant-position: super; *//* not supported in Google Chrome */
		counter-increment: sidenodeRefMark; /* Own counter to keep mark and term together */
	}
	
	a.sidenode-ref-mark::before {
		content: counter(sidenodeRefMark);
	}

	/* Footnotes (currently not supported in Paged.js) */
	.footnote {
		float: footnote;
		position: relative;
		top: -0.4rem;
		font-size: 0.5rem;
		line-height: 1;
		text-justify: none;
		counter-increment: footnote;
	}

	.footnote::before {
		content: counter(footnote, upper-roman);
		padding-left: 0.1rem;
		padding-right: 0.3rem;
	}

	/* Figures */
	.flow figure {
    margin-top: 0.9rem;
	} 
	
	figcaption {
		margin-top: 0.35rem;
		font-size: 0.8rem;
		text-decoration: none;
		counter-increment: figure;
		text-align: center;
	}

	figcaption::before {
		content: "Fig. " counter(figure) ":";
		padding-right: 0.5rem;
		font-weight: 600;
	} 

  /* Table of Contents */
	#toc {
		list-style-type: upper-roman;
	}
	#toc li > a {
		color: teal;
		text-decoration: none;
	}
	#toc li > a::after {
		content: target-text(attr(href)) " – Page\00A0" target-counter(attr(href), page);
		padding-left: 0;
	}

	
	/* Table of Figures */
	#tof {
		list-style-type: none;
	}

	#tof li::before {
		content: '\261B';
		margin-left: -1rem;
		margin-right: 0.2rem;
		position: relative;
		top: -0.1rem;
	}

	#tof li > a {
		color: teal;
		text-decoration: none;
	}

	#tof li > a::after {
		content: "Fig. “" target-text(attr(href)) "” – Page\00A0" target-counter(attr(href), page);
	}

	/* Index */
	#index {
		column-count: 2;
		column-gap: 5mm;
	}

	#index p {
		margin-top: 0;
		margin-bottom: 0;
	}

	#index p > a {
		color: teal;
		text-decoration: none;
	}
	#index p > a:first-child::before {
		content: "\2002";
	} 
	#index p > a::after {
		content: target-counter(attr(href), page) ", ";
	} 
	#index p > a:last-child::after {
		content: target-counter(attr(href), page);
	}

}